[submodule "sources_forked/taglist.vim"]
	path = sources_forked/taglist.vim
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "sources_non_forked/vim-clang-format"]
	path = sources_non_forked/vim-clang-format
	url = https://github.com/rhysd/vim-clang-format.git
[submodule "sources_non_forked/YouCompleteMe"]
	path = sources_non_forked/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "sources_non_forked/vim-autopep8"]
	path = sources_non_forked/vim-autopep8
	url = https://github.com/tell-k/vim-autopep8.git
[submodule "sources_non_forked/vim-template"]
	path = sources_non_forked/vim-template
	url = https://github.com/aperezdc/vim-template.git
[submodule "sources_non_forked/ultisnips"]
	path = sources_non_forked/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "sources_non_forked/vim-jsbeautify"]
	path = sources_non_forked/vim-jsbeautify
	url = https://github.com/maksimr/vim-jsbeautify.git
[submodule "https://github.com/fisadev/vim-isort"]
    path = sources_non_forked/vim-isort
    url = https://github.com/fisadev/vim-isort
[submodule "sources_non_forked/vim-go"]
	path = sources_non_forked/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "sources_non_forked/tagbar"]
	path = sources_non_forked/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "sources_non_forked/awk.vim"]
	path = sources_non_forked/awk.vim
	url = https://github.com/vim-scripts/awk.vim.git
